#home
    margin-top 50px
    background-color $primary
    .wrapper.row
        justify-content space-between
        width 100%
    .featured
        display flex
        flex-direction column
        align-items center
        justify-content center
        .title
            font-size 3rem
        .title
        .description
            color $white
            text-align center
        .description
            font-size 2rem
            margin-top 10px
        .btn
            margin-top 30px
    img
        height 100%
        display none

@media screen and (min-width 481px)
    #home
        margin-top 0
        img
            display block
            width 50%
        .featured
            max-width 40%
            .title
                max-width 528px
                font-size 3.5rem
            .description
                max-width 650px
                font-size 2.2rem
            .title
            .description
                color $white
                text-align initial