.btn
    display inline-block
    font-size .9rem
    letter-spacing 2px
    color $white
    background $secondary
    padding 20px 38px
    border-radius 50px
    border none
    cursor pointer
    width fit-content
    &:hover
        color #fff
        box-shadow 0px 10px 60px rgba(228, 110, 148, 0.5)
    &:focus
        outline none