#more
    .column
        align-items center
    .more__video
    .more__content
        width 95%
    .more__content
        margin 20px
        .title
            text-align center
        p
            color #666666
            margin 10px 0
@media screen and (min-width: 481px)
    #more
        .column
            justify-content space-between
            flex-direction row
            align-items normal
        .more__video
            min-height: 350px;
        .more__video
        .more__content
            width 45%
        .more__content
            p
                margin 30px 0