*
*:after
*:before
    margin 0
    padding 0
    box-sizing border-box


html
    opacity 0
    background-color $white
    animation appear .5s ease-in-out forwards

html
body
    width 100%
    height 100%

.wrapper
    max-width: 1250px;
    width 100%
    padding: 0 15px;
    margin: auto;

.row
    display flex

.column
    display flex
    flex-direction column

.flex-end
    justify-content flex-end

section
    display flex
    min-height 100vh
    padding-top 30px